/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark;
}

.register-form .input {
  @apply w-full p-3 border rounded-lg mt-1 outline-none focus:ring-2 focus:ring-blue-500 bg-blue-200 placeholder-gray-500 font-medium;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* SweetAlert custom styles */
.swal2-popup {
  font-family: 'Inter', sans-serif;
}

.swal2-title {
  font-size: 1.5rem;
}

.swal2-timer-progress-bar {
  background: #3b82f6; /* blue-500 */
}